../.idea
../Hometask.md
Task_5_figures/figures/__init__.py
Task_5_figures/figures/square/code.py
Task_5_figures/figures/triangle/code.py
../.idea/
Task_5_figures/figures/__pycache__/
Task_5_figures/figures/circle/__pycache__/
Task_5_figures/figures/square/__pycache__/
Task_5_figures/figures/triangle/__pycache__/
../savchyn zahar lesson_11.zip
../savchyn zahar lesson_11/
../Hometask.md
Task_5_figures/figures/__init__.py
Task_5_figures/figures/square/code.py
Task_5_figures/figures/triangle/code.py
        ../.idea/
        ../savchyn zahar lesson_11.zip
        ../savchyn zahar lesson_11/


